%section
  %article.third
    %header=t '.mission_title'
    =t '.mission_desc_html'
  
  %article.third
    %header 
      Hackathon
      %sup> 2
    =t '.hackathon_desc_html'
      
  %article.third
    %header Distraction-free   
    =t '.distraction_free_desc_html'  

%section.rsvp 
  = image_tag 'ninja+railsrumble.png'
  
  %h2.pitch=t '.bring_your_laptop_html'
  
  - if Rails.env.production?
    :plain
      <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=2126575645&ref=etckt" frameborder="0" height="244" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://48rails.eventbrite.com?ref=etckt">48rails</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

%section.social
  
  %article.third
    %header=t '.participants'
    =t '.participants_desc_html'
      
  %article.third 
    %header Social 
    =t '.social_desc_html'
    %h1 #48rails

  %article.third
    =image_tag 'ninja_dev.png', class: 'ninja'

%section.sponsors
  %header=t '.our_sponsors'
  %p=t '.want_to_sponsor_html'
  
  %article.platinum
    %header Platinum
    
  %article.gold
    %header Gold
    
  %article.silver
    %header Silver
    
  %article.bronze
    %header Bronze
    = link_to( image_tag('sponsor/pragprog.png'), 'http://pragprog.com/')
    = link_to( image_tag('sponsor/innoteam.png'), 'http://www.innoteam.it/')
    
  %article.media
    %header Media
    = link_to( image_tag('sponsor/webdebs.png'), 'http://www.webdebs.org/')
    = link_to( image_tag('sponsor/tag.png'), 'http://www.talentgarden.it/')
    = link_to( image_tag('sponsor/rubysocialclub.png'), 'http://www.rubysocialclub.com/')
    = link_to( image_tag('sponsor/whymca.png'), 'http://www.whymca.org/')
  
%footer
  
  = image_tag 'tree.png', class: 'tree'
  = image_tag 'ninja_rails.png', class: 'ninja rails'
  = image_tag 'dynamite.png', class: 'dynamite'
  = image_tag 'ninja_ruby.png', class: 'ninja ruby'
  = image_tag 'shuriken.png', class: 'shuriken'
  = image_tag 'flower.png', class: 'flower' 
  
  %h2.pitch=t 'layout.countdown'