!!!5
%html
  %head
    %title 48 rails &ndash; L&#39;hackaton dei migliori Rails ninja italiani 
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag   
       
  %body
    %section{role: 'header'}      
      %div
        %header
        
          %h1
            =image_tag 'ninja_logo.png', class: 'ninja animated'
            %span._4.animated> 4
            %span._8> 8
            %small on
            %span._rails> rails 
        
        
        %article
          %h2.pitch 13 e 14 Ottobre &ndash; Padova
          %h2.pitch I migliori Rails ninja si misurano in 48h di hackaton nonstop
                  
    
    %section{role: 'main'}
      %div
        = yield

        %footer
          
          = image_tag 'tree.png', class: 'tree'
          = image_tag 'ninja_rails.png', class: 'ninja rails'
          = image_tag 'dynamite.png', class: 'dynamite'
          = image_tag 'ninja_ruby.png', class: 'ninja ruby'
          = image_tag 'shuriken.png', class: 'shuriken'
          = image_tag 'flower.png', class: 'flower' 
          
          %h2.pitch Pronti a far saltare i binari in:


    %footer

      #timer
        .countdown
          =image_tag 'filmstrip_09.png', id: 'd10'
        .countdown.points 
          =image_tag 'filmstrip_09.png', id: 'd1'
          days
        .countdown
          =image_tag 'filmstrip_05.png', id: 'h10'
        .countdown.points
          =image_tag 'filmstrip_09.png', id: 'h1'
        .countdown
          =image_tag 'filmstrip_05.png', id: 'm10'
        .countdown.points
          =image_tag 'filmstrip_09.png', id: 'm1'
        .countdown
          =image_tag 'filmstrip_05.png', id: 's10'
        .countdown
          =image_tag 'filmstrip_09.png', id: 's1'  
          
        %p giorni
        %p ore
        %p minuti
        %p secondi  
    
      %div
        
        %article
          %header About
          %p 
            = image_tag 'dexter.png', class: 'dexter'
            %b 48 rails 
            &egrave; un progetto sviluppato da&nbsp; 
            %a{href: 'http://www.programmersinpadua.it', target: '_blank'}> Programmers in Padua
            , il club degli sviluppatori di Padova.
            
          %ul
            %li 
              %a{href: 'http://twitter.com/brigugraphic', target: '_blank'} @brigugraphic 
              &ndash; graphic ninja
            %li
              %a{href: 'http://twitter.com/ogeidix', target: '_blank'} @ogeidix
              &ndash; west coast ninja  
            %li 
              %a{href: 'http://twitter.com/pigatss', target: '_blank'} @pigatss
              &ndash; organization ninja          
            %li
              %a{href: 'http://twitter.com/realfuzzy', target: '_blank'} @realfuzzy
              &ndash; rails ninja
            
          
        %article

          %header Contattaci
          %p 
            Per qualsiasi informazione scrivici a
            %a{href: 'mailto:ninja@48rails.it'} ninja@48rails.it
          
          %p 
            Oppure puoi twittare a 
            %a{href: 'http://twitter.com/48rails', target: '_blank'} @48rails
            
          %p Perch&egrave; non dare una mano con l&#39;organizzazione dell&#39;evento?
                      
        %article
  