!!!5
%html
  %head
    %title=t 'layout.title'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag   
       
  %body
    %section{role: 'header'}      
      %div

        %header
          %h1
            =image_tag 'ninja_logo.png', class: 'ninja animated'
            %span._4.animated> 4
            %span._8> 8
            %small on
            %span._rails> rails 
        
        %article{style: 'margin: -50px 0 20px 400px; position:relative'}
          choose your language: 
          - if I18n.locale == :it
            %a{:href=>"#{request.url.gsub(/\?lang=[a-z]{2}/,'')}?lang=en"} English
            &dash; Italian
          - else
            English &dash;
            %a{:href=>"#{request.url.gsub(/\?lang=[a-z]{2}/,'')}?lang=it"} Italian

        %article
          %h2.pitch=t 'layout.when'
          %h2.pitch=t 'layout.pitch'
                  
    
    %section{role: 'main'}
      %div
        = yield

        %footer
          
          = image_tag 'tree.png', class: 'tree'
          = image_tag 'ninja_rails.png', class: 'ninja rails'
          = image_tag 'dynamite.png', class: 'dynamite'
          = image_tag 'ninja_ruby.png', class: 'ninja ruby'
          = image_tag 'shuriken.png', class: 'shuriken'
          = image_tag 'flower.png', class: 'flower' 
          
          %h2.pitch=t 'layout.countdown'


    %footer

      #timer
        .countdown
          =image_tag 'filmstrip_09.png', id: 'd10'
        .countdown.points 
          =image_tag 'filmstrip_09.png', id: 'd1'
          days
        .countdown
          =image_tag 'filmstrip_05.png', id: 'h10'
        .countdown.points
          =image_tag 'filmstrip_09.png', id: 'h1'
        .countdown
          =image_tag 'filmstrip_05.png', id: 'm10'
        .countdown.points
          =image_tag 'filmstrip_09.png', id: 'm1'
        .countdown
          =image_tag 'filmstrip_05.png', id: 's10'
        .countdown
          =image_tag 'filmstrip_09.png', id: 's1'  
          
        %p=t 'layout.days'
        %p=t 'layout.hours'
        %p=t 'layout.minutes'
        %p=t 'layout.seconds'
    
      %div
        
        %article
          %header About
          %p 
            = image_tag 'dexter.png', class: 'dexter'
            %b 48 rails&nbsp;
            =t 'layout.a_project_by'
            &nbsp;  
            %a{href: 'http://www.programmersinpadua.it', target: '_blank'}> Programmers in Padua
            ,
            =t 'layout.pip_pitch'
            
          %ul
            %li 
              %a{href: 'http://twitter.com/brigugraphic', target: '_blank'} @brigugraphic 
              &ndash; graphic ninja
            %li
              %a{href: 'http://twitter.com/ogeidix', target: '_blank'} @ogeidix
              &ndash; west coast ninja  
            %li 
              %a{href: 'http://twitter.com/pigatss', target: '_blank'} @pigatss
              &ndash; organization ninja          
            %li
              %a{href: 'http://twitter.com/realfuzzy', target: '_blank'} @realfuzzy
              &ndash; rails ninja
            
          
        %article

          %header=t 'layout.contact_us'
          %p 
            =t 'layout.email_us_at'
            %a{href: 'mailto:ninja@48rails.it'} ninja@48rails.it
          
          %p 
            =t 'layout.tweet_us_at'
            %a{href: 'http://twitter.com/48rails', target: '_blank'} @48rails
            
          %p=t 'layout.staff_call'
                      
        %article
  